{% extends "common_page.html" %} 
{% block title %} Booking Details {% endblock title %}
{% load static %}
{% block body_content %}
    
   <div>
        <div class="row">
            <div class="col-3"></div>
                <div class="col-md-6 col-12 col-offset-3">
                    
                    <div class="d-flex justify-content-center">

                        <div class="form-submit" id="email" style="display: none;">
                            {{email}}
                        </div>

                        <div class="form-submit" id="amount" style="display: none;">
                            {{price}}
                        </div>

                        <div class="form-submit" id="phone" style="display: none;">
                            {{phone}}
                        </div>

                        <div class="form-submit" id="fname" style="display: none;">
                            {{first_name}}
                        </div>

                        <div class="form-submit" id="user_id" style="display: none;">
                            {{user_id}}
                        </div>

                        <div class="form-submit" id="success_url" style="display: none;">
                            {% url 'payment_success' book_id %}
                        </div>

                        <div class="form-submit" id="fails_url" style="display: none;">
                            {% url 'payment_fails' book_id %}
                        </div>

                    </div>

                    
                    <p><span class="date text-pink text-size-30px mt-5">
                        {% if messages %}
                            {% for message in messages %}
                                {{message}}
                            {% endfor %}
                        {% endif %}
                    </span></p>

                    {% if my_booking %}

                        {% for detail in my_booking %}

                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        <span class="icon"><i class="mdi mdi-account"></i>
                                            Patient ID: TCH-0{{detail.user.id}} 
                                            <div style="margin-left: 300px;">
                                                <a href="{% url 'my_booking' detail.user_id %}">
                                                    <span style="color: #0e399c; margin-right:50px;" class="font-weight-bold">
                                                        Booking History
                                                    </span>
                                                </a>
                                            </div>
                                            <hr>
                                            Date Created: {{detail.date_created}}
                                        </span>   
                                    </p>
                                </header>

                                <div class="card-content">
                                    {% if detail.profile.profile_passport %}
                                        <div class="image w-30 h-10 mx-auto">
                                            <img src="{{detail.user.profile_passport.url}}" alt="{{detail.user.username}}" class="rounded-full" height=200 width=200>
                                        </div>
                                    {% else %}
                                        <div class="image w-30 h-10 mx-auto">
                                            <img src="https://avatatrs.dicebar.com/v2/initials/{{profile.user.username}}" alt="{{profile.user.username}}" class="rounded-full">
                                        </div>
                                    {% endif %}
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"> <h3>Full Name:</h3></label>
                                    <div class="control">
                                        {{detail.user.first_name}} {{detail.user.last_name}}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"> <h3>Email</h3> </label>
                                    <div class="control">
                                        {{detail.user.email}}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"> <h3>Phone</h3></label>
                                    <div class="control">
                                        {{detail.profile.phone}}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"> <h3>Service</h3></label>
                                    <div class="control">
                                        {{detail.service_name}}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"> <h3>Description</h3></label>
                                    <div class="control">
                                        {{detail.description}}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"><h3>Payment</h3></label>
                                    <div class="control">
                                        {% if detail.payment == 1 %}
                                            Paid
                                        {% else %}
                                            Pending
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"> <h3>Assigned Doctor</h3></label>
                                    <div class="control">
                                        {% if detail.resident_doctor_id == 1 and detail.consult_doctor_id == 1 %}
                                            None
                                        {% elif detail.resident_doctor_id != 1 %}
                                            Dr. {{ detail.resident_doctor.first_name }} {{ detail.resident_doctor.last_name }}
                                        {% elif detail.consult_doctor_id != 1 %}
                                            Dr. {{ detail.consult_doctor.first_name}} {{ detail.consult_doctor.last_name }}
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"> <h3>Approved date & time</h3></label>
                                    <div class="control">
                                        Date: {{detail.approved_date }} Time:{{detail.approved_time}}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"> <h3>Served</h3></label>
                                    <div class="control">
                                        {{detail.served}}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"><h3> Patient Status</h3></label>
                                    <div class="control">
                                        {{detail.patient_status}}
                                    </div>
                                </div>
                                <hr>

                                <div class="field">
                                    <label class="label"><h3> Doctor's Remark</h3></label>
                                    <div class="control">
                                        {{detail.doctor_remark}}
                                    </div>
                                </div>
                                <hr>

                                {% if request.user.is_staff or request.user.is_superuser %}
                                    {% if detail.payment == 1 %}

                                        <div class="field d-flex mx-2 g-2">

                                            <div class="control">
                                                <a href="{% url 'edit_booking' detail.booking_id %}">
                                                    <button type="submit" class="btn btn-sm btn-secondary m-1">
                                                        Refer
                                                    </button>
                                                </a>
                                            </div> 

                                            <div class="control">
                                                <a href="{% url 'accept_booking' detail.booking_id %}">
                                                    <button type="submit" class="btn btn-sm btn-primary m-1">
                                                        Accept
                                                    </button>
                                                </a>
                                            </div>

                                            <div class="control">
                                                <a href="{% url 'decline_booking' detail.booking_id %}">
                                                    <button type="submit" class="btn btn-sm btn-dark m-1">
                                                        Decline
                                                    </button>
                                                </a>
                                            </div>

                                        </div>

                                    {% endif %}
                                
                                {% comment %} {% else %} {% endcomment %}
                                {% endif %}


                                <div class="control">

                                    <a href="{% url 'book_payment' detail.booking_id %}">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            Make Payment
                                        </button>
                                    </a>

                                </dv>
                            </div>
                                    
                        {% endfor %}
                    {% endif %}
    
                </div>
            <div class="col-3"></div>
        </div>
    </div>
    <br>

{% endblock body_content %}